a{
    margin-right: 20px;
    border-radius: 13px;
    text-decoration: none;
    &:active{
        background: #42FF00;
        box-shadow: 1px 1px 14px #A1F483;
    }
}    
.active{
    background: #042B5B;
}                 
.cat-card{
    // position: relative;
    width: 168px;
    height: 102px;
    padding: 15px;  
    border-radius: 13px;
    background: #343434;
    box-shadow: 0px -1px 28px 5px rgba(0, 0, 0, 0.25);
    &:hover{
        background: #042B5B;
    } 
    
    .cat-img{
        width: 59px;
        height: 48px;
        border-radius: 10px;
        img{
            width: 100%;
        }
    }
    .cat-name{
        width: 128px;
        height: 26px;
        margin-top: 5px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 104.5%;
        color: #FFFFFF;

    }
    .cat-desc{
        margin-top: 10px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 104.5%;
        color: #656565;

    }
}