body{
    background-color: #282c34;
    color: white;
    font-size: calc(10px + 2vmin);
}
.body{
    width: 1280px;
    min-height: 100vh;
    margin: 30px auto;

    // border-radius: 30px;

    background: #1E1E1E;
    // background: #142B0F;
    box-shadow: 0px 4px 128px -9px #42FF00;
    border-radius: 18px;
}