@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    // background-color: #282c34;
    background: #142B0F;
    color: white;
    font-size: calc(10px + 2vmin);
    font-family: 'Poppins', sans-serif;
}
.body{
    width: 1280px;
    min-height: 100vh;
    margin: 30px auto;
    padding: 36px;
    overflow: hidden;
    background: #1E1E1E;
    box-shadow: 0px 4px 128px -9px #42FF00;
    border-radius: 18px;
    // background: #142B0F;
}