.watching{

    .w-title{
        width: 250px;
        height: 11px;
        margin: 20px 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 81%;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    .w-card{
        width: 100%;
        display: flex;
        align-content: center;
        .card-img{
            width: 250px;
            height: 184px;
            margin-right: 15px;
            border-radius: 20px;
            background-color: #FFFFFF;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}